@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/farmasi/controllers/home-controller.js"></script>

<div ng-controller="home-ctrl">
    @helper GenerateNewlyAddedProducts(List<ProductViewModel> products)
    {
        <div class="newly-added-products">
            @foreach (ProductViewModel product in products)
            {
                if (product.Image != null)
                {
                    string base64Image = Convert.ToBase64String(product.Image);
                    string imgSrc = string.Format("data:image/gif;base64,{0}", base64Image);

                    <div class="slick-product-container" onclick="openProductDetails(@product.Id)">                        
                        <img class="product-image" src="@imgSrc" width="178" height="178" />
                        <p class="product-name">@product.Name</p>                        
                    </div>
                }
            }
        </div>
    }   

    <iframe scrolling="no" frameBorder="0" style="width: 100%; height: 600px;" src="http://farmasi.ge/catalog#page/2"></iframe>

    @GenerateNewlyAddedProducts(ViewBag.NewlyAddedProducts)
</div>